h2{
    color: white;
}

.h1_nan{
    color: rgba(192, 255, 1, 1);
}
body{
    
   
    display: flex;
    flex-direction: column;
}

.Not_fount{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

