.orderButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .inputContainer input:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
  }
  .basketContainer{
    background-color: rgba(51, 51, 51, 1);
    margin: 0;
  }

.contener21{

  background-color:black;
  border-radius: 35px;
  max-width: 1477px;
  height: 800px;
}
.itogo{
  color: white;
}
.spisok {
  list-style-type: none; 
  padding: 0; 
  margin: 0;
}

.component {
  padding: 10px; 
  position: relative; 
}

.component:not(:last-child)::after {
  content: ""; 
  display: block; 
  height: 2px; 
  background-color: white;
  position: absolute; 
  left: 0; 
  right: 0;
  bottom: 0; 
}